---
---
<footer class='flex flex-col justify-center items-center bg-footerBg w-full h-[5rem]'>
    <div>
        <span class="text-cText text-xs font-bold">All rigths reserved &#169; Leeroy Garcia 2024</span>
    </div>
</footer>